* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color1: #f0c40d;
    --color2: #f1f1f1;
}

/* header section  */

.navbar {
    padding: 1.2% 5%;
}

.navbar p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

/* main section  */

.main {
    background-image: url('../img/0.jpg');
    background-size: cover;
    height: 120vh;
}

.main-content {
    padding: 16% 5%;
}

.main-content h1 {
    font-size: 4rem;
    line-height: 1.1;
    color: white;
    max-width: 600px;
}

.main-content p {
    padding-top: 1%;
    color: white;
}

/* service section  */

.search-box {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 55%;
    margin-top: 5%;
}

.search-box input {
    border: none;
    outline: none;
    padding: 16.5px 16px;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
}

.search-box button {
    border: none;
    padding: 16.5px 50px;
    background: var(--color1);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.services {
    padding: 4% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

.services-container {
    width: 30%;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 50px 20px
}

.service-content .pstyle {
    color: var(--color1);
    font-weight: bold;
    margin-top: 7%;
    font-size: 0.90rem;
}

.services-container .pstyle {
    display: none;
    color: var(--color1);
    font-weight: bold;
    margin-top: 7%;
    font-size: 0.90rem;
}

.services-container:hover {
    background-color: var(--color2);
    padding: 10px 10px 50px 20px;
}

.services-container:hover h3 {
    font-size: 2rem;
}

.services-container:hover i {
    display: none;
}

.services-container:hover .pstyle {
    display: block;
}

.service-content i {
    font-size: 3.5rem;
    color: var(--color1);
}

.service-content h3 {
    font-size: 1.5rem;
    margin-top: 5%;
}

.service-content p {
    font-size: 0.95rem;
    max-width: 250px;
    margin-top: 5%;
    font-weight: 490;
    color: black;
}

/* testimona section  */

.testimonial {
    background-color: #181818;
    padding: 5%;
    color: white;
}

.testimonial .testimonial-content {
    max-width: 50%;
}

.para1 {
    font-weight: bold;
    margin-bottom: 5%;
    line-height: 1.3;
}

.para2 {
    font-weight: lighter;
    margin-bottom: 5%;
    line-height: 1.3;
}

.testimonial-content h5 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
}

.testimonial-content h5 i {
    color: var(--color1);
}

/* studio section  */

.studio {
    padding: 5%;
}

.studio h1 {
    max-width: 50%;
    font-size: 1.8rem;
}

.studio-img {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.studio-img img {
    margin-top: 5%;
    width: 32.5%;
}

.studio p {
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 55%;
    margin-bottom: 4%;
}

/* contact section  */

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/4.jpg');
    background-size: cover;
    height: 70vh;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
}

.contact {
    padding: 8% 5%;
}

.contact h1 {
    font-size: 2rem;
    max-width: 40%;
    line-height: 1.2;
    margin-bottom: 2%;
}

.contact p {
    color: var(--color2);
    margin-bottom: 3%;
}

.contact button {
    background-color: var(--color1);
    border: none;
    color: black;
    padding: 1.5% 5.5%;
    font-size: 0.90rem;
    cursor: pointer;
}

/* team section  */

.team-section {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 4% 5%;
    gap: 40px;
}

.team-text {
    flex: 1;
    width: 40%;
    margin-top: 15%;
}

.team-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.team-text p {
    color: black;
}

.team-text a {
    text-decoration: none;
    color: var(--color1);
}

.team-container {
    flex: 2;
    display: flex;
    gap: 25px;
}

.team-card {
    background: #fff;
    padding: 3% 2% 4% 4%;
    text-align: left;
}

.team-card img {
    height: 35vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-card h3 {
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.team-card .role {
    color: var(--color1);
    font-weight: bold;
    font-size: 0.95rem;
    margin-top: 2.5%;
}

.team-card p {
    font-size: 0.95rem;
    color: #555;
    margin: 7% 0%;
}

.social-icons i {
    margin-right: 3.5%;
    font-size: 1.2rem;
    color: var(--color1);
    cursor: pointer;
}

/* pricing section  */

.pricing {
    background: linear-gradient(to bottom, transparent 65%, white 65%),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../img/10.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
    padding: 5% 5%;
}

.pricing h1 {
    font-size: 2.5rem;
    color: white;
}

.pricing p {
    margin-top: 1%;
    font-size: 1rem;
    width: 35%;
}

.pricing h2,
p {
    color: white;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    margin-top: 4%;
}

.card {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: 76vh;
}

.card h3 {
    font-size: 1.5rem;
}

.card h1 {
    color: black;
    font-size: 3.5rem;
    margin-top: 5%;
}

.card p1 {
    font-size: 1.1rem;
    font-weight: 700;
}

.card ul {
    margin: 22px 0px 18px 0px;
}

.half-card ul li {
    line-height: 30px;
}

.half-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 20% 0% 20% 0%;
}

.card button {
    background: gold;
    border: none;
    padding: 15px 50px 15px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
    align-items: center;
}

.card:hover {
    background: linear-gradient(to bottom, gold 50%, black 50%);
    color: white;
}

.card:hover h3,
p1 {
    color: black;
}

/* users-section */

.users-section {
    background-color: var(--color2);
    padding: 4% 5%;
}

.users-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.users-section p {
    color: #222;
    margin-bottom: 4%;
    font-weight: 400;
}

.users-section a {
    text-decoration: none;
    color: var(--color1);
}

.users {
    display: flex;
    gap: 2%;
}

.users-profile {
    max-width: 470px;
    background-color: white;
    padding: 2%;
    padding-bottom: 3%;
}

.user-img {
    display: flex;
    gap: 5%;
}

.users-profile img {
    height: 20vh;
    border-radius: 50%;
    margin-bottom: 3%;
}

.users-profile h1 {
    color: var(--color1);
    font-size: 1.5rem;
}

.users-profile h2 {
    font-size: 0.90rem;
    font-weight: bold;
    padding-bottom: 3%;
}

/* clients-section */

.clients-section {
    padding: 7% 5%;
}

.clients-section h1 {
    font-size: 2.5rem;
    margin-bottom: 4%;
}

.clients-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
}

.clients-img img {
    height: 13.5vh;
}

/* details section  */

.details-container {
    background-color: var(--color2);
    padding: 4% 5%;
}

.details-align {
    display: flex;
}

.d-first {
    width: 50%;
}

.d-first h1 {
    font-size: 2.5rem;
    width: 80%;
}

.d-first>p {
    margin-top: 3%;
    font-weight: 500;
    font-size: 1.05rem;
    color: black;
}

.d-style,
.d-styles {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    margin-top: 5%;
    cursor: pointer;
}

.d-style p,
.d-styles p {
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.d-input {
    display: none;
}

#q1:checked~.d-input:nth-of-type(1),
#q2:checked~.d-input:nth-of-type(2),
#q3:checked~.d-input:nth-of-type(3) {
    display: block;
}

#q1:checked+label .title,
#q2:checked+label .title,
#q3:checked+label .title {
    color: var(--color1);
}

.d-input textarea {
    height: 145px;
    margin-top: 2%;
    width: 80%;
    outline: none;
    border: none;
}

.d-input textarea::placeholder {
    color: #222;
    font-size: 1rem;
    padding: 5.5% 0% 0% 5.5%;
}

.d-second {
    width: 50%;
    padding: 11% 8% 10% 8%;
}

.d-second p {
    width: 80%;
    font-weight: 500;
    color: #222;
}

/* contact-section */

.contact-section {
    padding: 6% 5%;
    background-color: black;
    color: white;

}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 5%;
}

.content-left {
    flex: 1;
}

.content-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1.1%;
}

.content-left img {
    height: 22vh;
    border-radius: 50%;
    margin-bottom: 3%;
}

.content-left p {
    margin-bottom: 3%;
    width: 70%;
}

.content-left p,
p1 {
    max-width: 500px;
}

.search-form {
    flex: 1;
}

.search-form h2 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 2.1% 0% 5% 0%;
}

.search-form p {
    width: 70%;
    margin-bottom: 5%;
    font-size: 1rem;
}

.search-input {
    display: flex;
}

.search-input input {
    border: none;
    outline: none;
    padding: 15px;
    height: 50%;
    font-size: 1rem;
    width: 80%;
    font-weight: 500;
}

.search-input button {
    border: none;
    padding: 15px;
    height: 50%;
    width: 20%;
    background-color: var(--color1);
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.location {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.location-info {
    display: flex;
    gap: 5%;
}

.location h2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.location p {
    color: lightgray;
}

.location-icon {
    color: var(--color1);
    font-size: 2rem;
}

.phone {
    display: flex;
    gap: 5%;
    width: 50%;
}

/* footer-section */

.footer-section {
    background-color: #323232;
    text-align: center;
    padding: 3% 5%;
}